@import '../../styles/variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';

.bestSells {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding-left: 2vw;
    width: 100%;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
    

    .itemInformation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        justify-content: right;
        margin-top: 10px;
        gap: 5px;
    }

    h2 {
        color: $main-gray;
        font-weight: 500;
    }

    img {
        width: 20vw;
    }

    p {
        display: flex;
        justify-content: center;
    }
}

@include medium-md {
    .bestSells {
        display: none;
    }
}

@include small-md {
    .bestSells {
        display: none;
    }
} 

