@import '../../styles/variables';
@import '../../styles/mixin.scss'; 


.article {
    @include flex-justify_center-aling_center;
    flex-direction: column;

    
    width: 30vw;
    gap: 1rem;


    p {
        text-align: center;
        font-size: $ui-p-default;
    }

    h4 {
        @include h4-style;
        text-align: center;
    }
}