@import '../../styles/variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(180deg);
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 40vh;

    img {
        width: 10rem;
        animation: rotate 1s infinite;
    }

    p {
        margin-top: 2rem;
        font-size: 24px;
    }
}

@include small-md {
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $main-blue;
        color: #fff;

        z-index: $z-index-mobile-loader;
    }    
}