@import '../../styles/variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';


.shopItem {
    position: relative;
    width: auto;

    &:hover {
        opacity: 0.9;
    }

    cursor: pointer;

    .info {
        @include flex-justify_center-aling_center;
        position: relative;
        flex-direction: column;
        margin-top: 10px;

        h4 {
            width: 100%;
            text-align: left;
            font-size: $ui-h4_font_size;
        }

        .ratingBlock {
            width: 100%;
            display: flex;
            justify-content: left;
        }
        
    }
    
}

.hotSale {
    position: absolute;
    background-color: $main-red;
    color: #fff;
  
    padding: 5px 15px;
    z-index: $z-index-cover;
}

