@import '../../styles//variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';

.reviewArticle {
    margin-top: 25px;

    &__popup {
        display: none;
        width: 100%;
        top: 0;

        textarea {
            resize: none;
            width: 100%;
            height: 10rem;
            font-size: 20px;
        }
    }

    &__profile {
        display: flex;
        align-items: center;

        &_img {
            background-color: rgba($main-gray, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            overflow: hidden;

            svg {
                font-size: 30px;
            }
        }

        &_info {
            margin-left: 20px;

            p {
                font-size: 24px;
                color: #000;
            }
        } 
    }

    &__review {
        position: relative;
        margin-top: 5px;
        width: 60vw;
        color: #000;

        .close {
            display: none;
        }
    }

    &_changeReview {
        margin-top: 10px;
        font-size: 18px;
        cursor: pointer;
        background-color: $main-blue;
        color: #fff;
        padding: 5px 15px;

        &:hover {
            opacity: 0.8;
        }
    }

    .open {
        display: block;
    }
}

@include small-md {
    .reviewArticle {
        &__review {
            width: 100%;
        }
    }
}