@import '../../styles/variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';

.controle {
        display: flex;
        justify-content: center;
        
        width: 100%;
        gap: $ui-left_gap;

        .selected {
            color: $main-blue;
            border-bottom: 3px solid $main-blue;
        }

        button {
            @include button-style-none;
            font-size: 18px;
            padding-bottom: 5px;

            cursor: pointer;

            &:hover {
                color: $main-blue;
            }
        }
    }

    @include small-md {
        .controle {
            display: none;
        }
    }