@import '../../styles/config';
@import '../../styles/mixin.scss';
@import '../../styles/variables';

.itemSlider {
    display: none;
    flex-direction: column;
    width: 90vw;

    padding-top: 2rem;

  

    &__list {
        position: relative;
        display: none;
        height: inherit;
    
        margin-top: 20px;
        padding-bottom: 250px;
        gap: 2rem;
        overflow: hidden;

        article {
      
        }
    }
}



@include small-md {
    .itemSlider {
        display: flex;

        &__list {
            display: flex;
        }
    }
}