$main-blue: #40BFFF;
$main-red: #FF4858;
$main-black: #373737;
$main-green-light: #E5E5E5;
$main-gray: gray;
$main-yellow: rgb(255, 255, 57);

$ui-h1_font_size: 48px;
$ui-h2_font_size: 36px;
$ui-h3_font_size: 24px;
$ui-h4_font_size: 18px;

$ui-p-default: 16px;

$ui-price_font_weight: 500;

$ui-left_gap: 2rem;
$ui-horizont_gap: 2rem;
$ui-vertical_gap: 2rem;
$ui-icons_gap: 1rem;
$ui-price-left_gap: 1rem;

$negative-margin_saleOff: -5rem;

$ui-margin-top: 3rem;
$ui-margin-left: 2rem;

$z-index-menu: 1;
$z-index-cover: 2;
$z-index-dropdown: 3;
$z-index-before-after: 4;
$z-index-item-over-before-after: 5;
$z-index-popup: 6;
$z-index-popup-options: 7;