@import '_variables';
@import './mixin.scss';
@import './config.scss';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: none;
}


body {
    width: 100vw;
    overflow-x: hidden;
    scrollbar-width:none;
}

a {
    text-decoration: none;
    color: black;
    scrollbar-width:none;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: auto;
}

.app {
    font-family: 'Poppins';
}

.auth {
    @include flex-column-aling_center;
}

.contact {
   display: flex;
   margin-top: 1rem;
   padding: 1rem 2rem;
   gap: 2rem;
}

.shop {
    display: flex;
  
}

.shopFilter {
    
}

.itemPage {
    height: fit-content;
}


li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

::-webkit-scrollbar {
    display: none;
}



@include small-md {
    main {
       width: 100vw;
       
       align-items: center;
    }
}