@import '../../styles/variables';
@import '../../styles/mixin.scss'; 

.relatedItemList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    h2 {
        @include h2-style;

    }
    ul {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
    }
}