@import '../../styles/mixin.scss';
@import '../../styles/variables';
@import '../../styles/config';

.saleOff {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

    padding: 2rem;
    margin: $negative-margin_saleOff auto;
    width: fit-content;
    gap: 2rem;
    
    background-color: #fff;
}


@include small-md {
    .saleOff  {
        display: none;
    }
}


@include medium-md {
    .saleOff  {
        width: 80%;
    }
}