@import '../../styles/variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';

.swichBlock {
    position: relative;
    width: auto;
    height: auto;
    
    overflow: hidden;

    img {
        width: 100%;
        height: 30vh;
    }
    }

.hotSale {
    position: absolute;
    background-color: $main-red;
    color: #fff;

    top: 0;
    left: 0;
  
    padding: 5px 15px;
    z-index: $z-index-cover;
}

.cover {
    background-color: #fff;
    top: 0;

    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;

    font-size: $ui-h3_font_size;
    z-index: $z-index-cover;

    gap: $ui-icons_gap;

  
    svg {
        width: 25px;
        height: 25px;
        &:hover {
            color: $main-blue;
        }
    }
}


@include medium-md {
    .swichBlock {
        height: auto;

        img {
            height: 25vh;
        }
    }
}

@include small-md {
    .swichBlock {
        height: auto;
        
        img {
            height: 18vh;
        }

        
    }
}