@import '../../styles//variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';

.header {
    width: 100vw;
    z-index: $z-index-header;
}

@include small-md {
    .header {
        display: none;
    }
}