@import '../../styles/variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';

.article {
    @include flex-justify_center-aling_center;

    padding: 1rem 2rem;
    gap: $ui-icons_gap;

    .info {
        width: 15vw;
    }

    .date {
        color: $main-gray;
    }
}

@include small-md {
    .article {
        margin-top: 2rem;
        flex-direction: column;
        align-items: normal;
        width: 90vw;

        .info {
            width: 100%;
            text-align: center;
        }
    }
}