@import '../../styles/variables';
@import '../../styles/mixin.scss';
@import '../../styles/config';

.itemSection {
    display: grid;
    grid-template-columns: auto 30%;
    width:  100vw;
    height: 100%;
    margin: 3rem 2rem;
        
    }
