.delete {
    cursor: pointer;

    &_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 24px;
        cursor: pointer;
        
        &:hover {
            opacity: 0.8;
        }
    }
}