@import '../../styles/mixin.scss';
@import '../../styles/variables';
@import '../../styles/config';

.homeShop {
    @include flex-justify_center-aling_center;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    
    gap: $ui-vertical_gap;

    h2 {
        @include h2-style;
    }

    button {
        @include button-style-none;
        font-size: 20px;
        
        cursor: pointer;

        &:hover {
            color: $main-blue;
        }
    }
    
    .list {
        width: 100%;
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 15%;
        justify-content: center;
       

        gap: 3rem;
    }
}

.hide {
    display: none;
}

@include medium-md {
    .homeShop {
        width: 90vw;
        
        .list {
            grid-template-columns: 25% 25% 25%;
            gap: 2rem;
        }
    }
}

@include small-md {
    .homeShop {
        margin-top: 2rem;

        .list {
            grid-template-columns: 40% 40%;
        }

        h2 {
            display: none;
        }

        button {
            margin-top: 2rem;
            width: 100%;
            background-color: $main-blue;
            
            padding: 10px;

            color: #fff;
            border-radius: 10px;

            &:hover {
                opacity: 0.8;
                color: #fff;
            }
        }
    }
}