@import '../../styles/variables';
@import '../../styles/mixin.scss';


.news {
    margin-top: $ui-margin-top;

    .list {
        @include flex-justify_center-aling_center;
        flex-wrap: wrap;

    }

    h2 {
        @include h2-style;
        text-align: center;
    }

}