@import '../../styles/mixin.scss';
@import '../../styles/variables';
@import '../../styles/config';

.price {
    @include flex-justify_center;
    width: 100%;
    gap: $ui-price-left_gap;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    font-size: 20px;

    &_blue {
        @include font-style-priceOff;
    }

    &_gray {
        @include font-style-prevPrice;
    }

    &_red {
        @include font-style-saleOff;
    }

    &_default {
        @include font-style-price;
    }
}

@include small-md {
    .price {
        font-size: 16px;
    }
}